/*DEBUG CSS ID CHUNKS*/
.BACKGROUND_RED{
    -fx-background-color: #AA0000;
}
.BACKGROUND_GREEN{
    -fx-background-color: #00AA00;
}
.BACKGROUND_BLUE{
    -fx-background-color: #0000AA;
}

/*GENERAL*/
.root{
    -fx-font-family: "Tahoma";
    -fx-font-size: 12px;
}

.label{
    -fx-border-radius: 5px;
    -fx-font-weight: normal;
}

/*DIALOG BOX*/
#dialogBox{
    -fx-border-color: #333;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
}

#dialogBox:error{
    -fx-border-color: #dc3545;
}

#dialogBox:success{
    -fx-border-color: #28a745;
}

#dialogBox #topLayout{
    -fx-padding: 10px 10px 0px 10px;
}

#dialogBox #centerLayout *{
    -fx-padding: 10px;
}

#dialogBox #title{
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 0px 0px 10px 0px;
}

#dialogBox #subTitle{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#dialogBox #text{
    -fx-font-weight: normal;
}

#dialogBox #button{
    -fx-alignment:center;
    -fx-text-fill: #DDD;
    -fx-font-weight: bold;
    -fx-border-color: #DDD;
    -fx-border-width: 0 0 0 1;
    -fx-border-radius:0px;
    -fx-background-radius: 0px;
    -fx-background-color: #333;
}

#dialogBox #button:first{
    -fx-border-width: 0;
    -fx-background-radius: 0px 0px 0px 4px;
}

#dialogBox #button:last{
    -fx-background-radius: 0px 0px 4px 0px;
}

#dialogBox #button:unique{
    -fx-border-width: 0;
    -fx-background-radius: 0px 0px 4px 4px;
}

/*SideMenu*/
#sideMenu{
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #333;
}
#sideMenu #profileDiv{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #333;
    -fx-padding: 17px;
}
#sideMenu #profileDiv #profileIcon{
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}
#sideMenu #profileDiv #profileLinkDiv *{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10px 10px 10px 20px;
}
#sideMenu #linkDiv{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #333;
}
#sideMenu #linkDiv *{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 0px 17px 0px 17px;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0px;
    -fx-border-color: #DDD;
    -fx-text-alignment: center;
}
#sideMenu #linkDiv *:last{
    -fx-border-width: 0;
}

/*SideProfileBar*/
#sideProfileBar{
    -fx-border-color: #333;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-alignment:TOP_CENTER;
}

#sideProfileBar #profileIcon{
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#sideProfileBar #divider-18{
    -fx-padding:9px/*TOP and BOTTOM OR LEFT and RIGHT*/;
}

/*Profile*/
.TitleLabel{
    -fx-font: bold 20pt "Arial";
}

.hbTitle{
    -fx-alignment: center; 
    -fx-padding: 15 0 10 0;
}

.FormLabel{
    -fx-font: bold 10pt "Arial";
}

.textFieldInput {
    -fx-max-width: 150px;
}

.labelButton{
    -fx-alignment:center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #333;
    -fx-border-width: 0;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-background-color: #333;
    -fx-padding: 20 40 20 40;
    -fx-font-margin: 10;
}

.lbtnSaveChange{
    -fx-background-color: grey;
}
.lbtnDelete{
    -fx-background-color: red;
}

#registerRoot, #loginRoot, #recoverRoot{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-text-alignment: center;
}

#registerVbox, #loginVbox{
    -fx-alignment: center;
}

#registerVbox > * , #loginVbox > *{
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-padding: 8 0 8 0;
}

.signUp_btn , .signIn_btn{
    -fx-alignment: center-right;
}

.forgotPassword_btn{
    -fx-padding: 10;
    -fx-alignment: center-right;
    -fx-text-fill: blue;
}
